.mainLayout {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 70px);
}

.inventoryColumn {
	width: 150px;
	background-color: #ffcd8d;
	border-right: 1px solid #e0e0e0;
}

.sceneColumn {
	flex: 1;
	display: flex;
	height: 100%;
}

.balloon {
	position: relative;
	margin: 50px;
	width: 200px;
	height: 100px;
	background: #fff;
	border: 1px solid black;
	border-radius: 10px;
}

.balloon2:after {
	content: "";
	border-top: 16px solid #fff;
	border-left: 25px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
	position: absolute;
	top: 15px;
	left: -18px;
}