@font-face {
	font-family: 'LaundryGothic';
	src: url('/fonts/LaundryGothic-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LaundryGothic';
	src: url('/fonts/LaundryGothic-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	font-family: 'LaundryGothic', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
}

.nowrap {
	flex-wrap: nowrap;
}

.wrap {
	flex-wrap: wrap;
}
