.sceneContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.room {
	position: relative;
	width: 600px;
	height: 400px;
}

/* Floor */
.floor {
	position: absolute;
	left: 50%;
	bottom: 108%;
	width: 540px;
	height: 540px;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	background: #e5c29f;
	transform: translate(-70%, -50%) translateY(100px) rotateX(55deg)
		rotateZ(45deg);
	transform-style: preserve-3d;
}

.floorInner {
	position: absolute;
	inset: 0;
	transform-style: preserve-3d;
	transform-origin: center;
	pointer-events: none;
}

/* Left Wall */
.rightWall {
	position: absolute;
	left: 99.5%;
	top: -20.5%;
	width: 382px;
	height: 330px;
	background: #ffe4cf;
	border: 0.5px solid #000000;
	transform-style: preserve-3d;
	transform-origin: bottom right;
	transform: translate(-70%, -50%) translateX(-137px) translateY(-85px)
		skewY(29.8deg);
}

.rightWallInner {
	position: absolute;
	inset: 0;
	transform-style: preserve-3d;
}

.leftWall {
	position: absolute;
	left: 0.5%;
	top: 68.1%;
	width: 382px;
	height: 330px;
	background: #ffe9d7;
	border: 0.5px solid #000000;
	transform-style: preserve-3d;
	transform-origin: bottom left;
	transform: translate(-70%, -50%) translateX(75px) translateY(-110px)
		skewY(-29.8deg);
}

.leftWallInner {
	position: absolute;
	inset: 0;
	transform-style: preserve-3d;
}
