.sceneContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.room {
	position: relative;
	width: 600px;
	height: 400px;
}

/* Floor */
.floor {
	position: absolute;
	left: 50%;
	bottom: 103.4%;
	width: 540px;
	height: 540px;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	background: #e5c29f;
	transform: translate(-70%, -50%) translateY(100px) rotateX(60deg)
		rotateZ(45deg);
	transform-style: preserve-3d;
}


.floorInner {
	position: absolute;
	inset: 0;
	transform-style: preserve-3d;
	transform-origin: center;
	pointer-events: none;
}

/* Left Wall */
.rightWall {
	position: absolute;
	left: 99.5%;
	top: -16.1%;
	width: 382px;
	height: 330px;
	background: #ffe4cf;
	border: 0.5px solid #000000;
	transform-style: preserve-3d;
	transform-origin: bottom right;
	transform: translate(-70%, -50%) translateX(-138px) translateY(-83.8px)
		skewY(26.6deg); /* 30 */
}

.rightWallInner {
	position: absolute;
	inset: 0;
	transform-style: preserve-3d;
}

.leftWall {
	position: absolute;
	left: 0.5%;
	top: 72.5%;
	width: 382px;
	height: 330px;
	background: #ffe9d7;
	border: 0.5px solid #000000;
	transform-style: preserve-3d;
	transform-origin: bottom left;
	transform: translate(-70%, -50%) translateX(74px) translateY(-108.5px)
		skewY(-26.6deg);
}

.leftWallInner {
	position: absolute;
	inset: 0;
	transform-style: preserve-3d;
}
