.main {
	width: 360px;
	height: 85vh;
	padding: 30px 24px;
	box-sizing: border-box;

	background: #fff9ef;
	border: 1px solid #000;
	box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	flex-direction: column;
	color: #000;
}

/* 상단 제목 영역 */
.titleRow {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	height: 40px;
}

* {
	font-weight: 500;
}

.titleText {
	margin: 0;
	font-size: 28px;
	color: #000;
	text-align: center;
}

.closeBtn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
}

.closeBtn img {
	width: 28px;
	height: 28px;
}

.tabChip {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}

.tabChips {
	padding: 6px 24.5px;
	border-radius: 50px;
	border: 1px solid #000;
	background: #fff;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease;
	min-width: 60px;
	text-align: center;
}

.activeTab {
	background: #e5e5e5;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.tabChips:hover {
	background-color: #f4f4f4;
}

.explanationGrid {
	width: 100%;
}

.explanationList {
	margin: 0 0 20px;
	padding-left: 20px;
	list-style-type: disc;
	color: #000;
	font-size: 13px;
	line-height: 1.6;
	font-weight: 500;
}

.itemGrid {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: start;
	gap: 16px;
	overflow-y: auto;
	padding: 4px;
}

.itemGrid::-webkit-scrollbar {
	width: 6px;
}
.itemGrid::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.previewItemCard {
	width: 100%;
	aspect-ratio: 3 / 2;
	border-radius: 12px;
	border: 1px solid #000;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	cursor: pointer;
	box-sizing: border-box;
	transition: transform 0.1s;
}

.previewItemCard:hover {
	transform: translateY(-2px);
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.previewItemCard img {
	width: 80%;
	height: 80%;
	object-fit: contain;
	pointer-events: none;
}
